.reveal h1 {
	text-transform: none;
	font-size: 2.3em;
}

.title-slide h1 {
	font-size: 96px;
}

.file-title h1 {
	font-size: 50px;
	font-family: monospace;
	margin-bottom: 40px;
}

.reveal h1 .code {
	font-size: .8em;
	font-family: monospace;
}

.reveal .ms-tables {
    float: left;
    text-align: left;
    width: 33%;
}

.reveal .ms-tables ul {
	margin: 0 0 25px 0;
	list-style: none;
}

.reveal .ms-tables li {
    font-size: 21px;
    font-family: monospace;
}

.reveal .db-slide-one .ms-tables li {
	font-size: 32px;
}

.reveal .ms-tables-large li {
	font-size: 1.7em;
}

.ms-tables-global {
	color: #000;
	background-color: #fff;
}
.reveal .clear {
	clear: both;
}

.reveal pre {
	width: 100%;
}

.reveal pre code {
  max-height: 500px;
}