.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6,
.reveal p {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

.reveal h1 {
	text-transform: none;
	font-size: 3.5em;
}

.reveal .slide-background {
	background-color: #2a3033;
}

.title-slide h1 {
	font-size: 9em;
}

.title-slide p {
	font-size: 1.6em;
	padding-left: .4em;
}

.single-word-slide h1 {
	font-size: 6em;
}

.reveal .overview-slide {
	text-align: left;
}

.reveal .overview-slide h1 {
	font-size: 4.5em;
}

/** WordPress 3.0 "Thelonious" **/
.reveal .thelonious {
	background-size: contain;
	background-position: 0 50%;
}

.reveal .thelonious .thelonious-content {
	float: right;
	width: 50%;
	margin-right: -10%;
}

.reveal .thelonious h1 {
	font-size: 2.8em;
}
/*--------------------------*/

.file-title h1 {
	font-size: 5.5rem;
	font-family: 'Monaco', monospace;
}

.reveal h1 .code {
	font-size: .9em;
	line-height: 1em;
	font-family: 'Monaco', monospace;
	padding: 0 .4em;
}

.reveal .ms-tables {
    float: left;
    text-align: left;
    width: 33%;
}

.reveal .ms-tables ul {
	margin: 0 0 25px 0;
	list-style: none;
}

.reveal .ms-tables li {
    font-size: 21px;
    font-family: 'Monaco', monospace;
}

.reveal .ms-tables-global {
	float: left;
	width: 66%;
	color: #fff;
}

.reveal .ms-tables-global .ms-tables {
	float: left;
	width: 50%;
	height: 100%;
}

.reveal .ms-tables-almost-global ul,
.reveal .ms-tables-global .ms-tables ul {
	padding: .25em 1em .5em .25em;
}

.reveal .ms-tables-global .ms-tables ul {
	background-color: #222;
}

.reveal .db-slide-zero .ms-tables li,
.reveal .db-slide-one .ms-tables li {
	font-size: 2.9rem;
}

.reveal .db-slide-two .ms-tables li {
	font-size: 2rem;
}

.reveal .db-slide-three .ms-tables li {
	font-size: 1.6rem;
}

.reveal .db-slide-four .ms-tables li {
	font-size: 1rem;
}

.reveal .db-slide-five .ms-tables li {
	font-size: .8rem;
}

.reveal .db-slide-four .ms-tables {
	width: 25%;
}

.reveal .db-slide-five .ms-tables {
	width: 20%;
}

.reveal .db-slide-four .ms-tables-global {
	width: 50%;
}

.reveal .db-slide-five .ms-tables-global {
	width: 40%;
}

.reveal .db-slide-four .ms-tables-global .ms-tables,
.reveal .db-slide-five .ms-tables-global .ms-tables {
	width: 50%;
}

.reveal .clear {
	clear: both;
}

.reveal pre {
	width: 100%;
	font-size: .9em;
}

.reveal pre.stretched {
	width: 1750px;
	margin-left: -75px;
}

.reveal pre code {
	max-height: 800px;
	padding: 20px 5px 20px 10px;
	font-family: 'Monaco', monospace;
	color: #e6e6e6;
	background-color: #222;
}

.reveal .hljs-comment {
	color: #cbeff7;
}